<div class="bs-docs-section">
				
	<h1>Configuration</h1>
<p>This page describes ways to manipulate Contiv Storage through configuration and options.</p>

<h2>Volume Formatting</h2>
<p>Because of limitations in the Docker volume implementation, we use a <em>pattern</em>
to describe volumes to Docker. This pattern is <code>policy-name/volume-name</code>, and
is supplied to <code>docker volume create --name</code> and transfers to <code>docker run -v</code>.</p>
<p>For example, the following commands illustrate a typical use of Contiv Storage presuming 
a policy named <code>policy1</code> has been uploaded:</p>
<pre class="highlight plaintext"><code>$ docker volume create -d volplugin --name policy1/sample
$ docker run -it -v policy1/sample:/mnt ubuntu bash
</code></pre>
<p>This pattern creates a volume called <code>sample</code> in the default Ceph pool of <code>policy1</code>. 
See <a href="#driver_options">Driver Options</a> for information about how to change the pool (or other options),</p>

<h2>JSON Global Configuration</h2>
<p>Global configuration modifies the whole system through the <code>apiserver</code>, <code>volplugin</code>
and 'volsupervisor' systems. You can manipulate these systems with the <code>volcli global</code>
command set.</p>
<p>A global configuration looks like the following:</p>
<pre class="highlight plaintext"><code>javascript
{
  "TTL": 60,
  "Debug": true,
  "Timeout": 5,
  "MountPath": "/mnt/ceph"
}
</code></pre>
<p>The options are:</p>

<ul>
<li><a name="TTL"></a><a href="#TTL"><code>TTL</code></a>: Time (in seconds) for a mount record to timeout if a <code>volplugin</code> instance dies.
</li>
<li><a name="Debug"></a><a href="#Debug"><code>Debug</code></a>: Boolean value indicating whether or not to enable debug traps and logging.
</li>
<li><a name="Timeout"></a><a href="#Timeout"><code>Timeout</code></a>: A command is terminated if it runs longer than this time (in minutes).
</li>
<li><a name="MountPath"></a><a href="#MountPath"><code>MountPath</code></a>: The base path used for mount directories. Directories will be in <code>policy/volume</code> format at this root.
</li>
</ul>
<p><a name="json_tenant_config"></a></p>

<h2>JSON Tenant Configuration</h2>
<p>Tenant configuration uses JSON to configure the default volume parameters such
as which pool to use. The JSON is uploaded to <code>etcd</code> by the <code>volcli</code> tool.</p>
<p>For example:</p>
<pre class="highlight javascript"><code><span class="p">{</span>
  <span class="s2">"backends"</span><span class="err">:</span> <span class="p">{</span>
    <span class="s2">"crud"</span><span class="err">:</span> <span class="s2">"ceph"</span><span class="p">,</span>
    <span class="s2">"mount"</span><span class="err">:</span> <span class="s2">"ceph"</span><span class="p">,</span>
    <span class="s2">"snapshot"</span><span class="err">:</span> <span class="s2">"ceph"</span>
  <span class="p">},</span>
  <span class="s2">"unlocked"</span><span class="err">:</span> <span class="kc">false</span><span class="p">,</span>
  <span class="s2">"driver"</span><span class="err">:</span> <span class="p">{</span>
    <span class="s2">"pool"</span><span class="err">:</span> <span class="s2">"rbd"</span>
  <span class="p">},</span>
  <span class="s2">"create"</span><span class="err">:</span> <span class="p">{</span>
    <span class="s2">"size"</span><span class="err">:</span> <span class="s2">"10MB"</span><span class="p">,</span>
    <span class="s2">"filesystem"</span><span class="err">:</span> <span class="s2">"btrfs"</span>
  <span class="p">},</span>
  <span class="s2">"runtime"</span><span class="err">:</span> <span class="p">{</span>
    <span class="s2">"snapshots"</span><span class="err">:</span> <span class="kc">true</span><span class="p">,</span>
    <span class="s2">"snapshot"</span><span class="err">:</span> <span class="p">{</span>
      <span class="s2">"frequency"</span><span class="err">:</span> <span class="s2">"30m"</span><span class="p">,</span>
      <span class="s2">"keep"</span><span class="err">:</span> <span class="mi">20</span>
    <span class="p">},</span>
    <span class="s2">"rate-limit"</span><span class="err">:</span> <span class="p">{</span>
      <span class="s2">"write-bps"</span><span class="err">:</span> <span class="mi">100000000</span><span class="p">,</span>
      <span class="s2">"read-bps"</span><span class="err">:</span> <span class="mi">100000000</span>
    <span class="p">}</span>
  <span class="p">},</span>
  <span class="s2">"filesystems"</span><span class="err">:</span> <span class="p">{</span>
    <span class="s2">"ext4"</span><span class="err">:</span> <span class="s2">"mkfs.ext4 -m0 %"</span><span class="p">,</span>
    <span class="s2">"btrfs"</span><span class="err">:</span> <span class="s2">"mkfs.btrfs %"</span><span class="p">,</span>
    <span class="s2">"falsefs"</span><span class="err">:</span> <span class="s2">"/bin/false"</span>
  <span class="p">}</span>
<span class="p">}</span>
</code></pre>
<p>The parameters described by the JSON are:</p>

<ul>
<li><a name="unlocked"></a><a href="#unlocked"><code>unlocked</code></a>: Removes the exclusive locks between mounts for a given volume.

<ul>
<li>This is a protective measure and is <em>not needed</em> to use NFS, so this flag
turns it off (by setting it to true) if desired for a given policy.
</li>
</ul>
</li>
<li><code>filesystems</code>: A policy-level map of filesystem <em>name</em> to <em>mkfs</em> command.

<ul>
<li>Commands are run when the filesystem is specified and the volume has not
been created already.
</li>
<li>Commands run in a POSIX (not bash or zsh) shell.
</li>
<li>If the <a name="filesystems"></a><a href="#filesystems"><code>filesystems</code></a> block is omitted, <code>mkfs.ext4 -m0 %</code> is applied to
all volumes within this policy.
</li>
<li>Referred to by the volume create-time parameter <a name="filesystem"></a><a href="#filesystem"><code>filesystem</code></a>. Note that you
can use a <code>%</code> to be replaced with the device to format.
</li>
</ul>
</li>
<li><code>backends</code>: the storage backends to use for different operations. Note that
not all drivers are compatible with each other. This is still an area with
work being done on it. Ceph and NFS are supported as <code>mount</code> options, <code>crud</code>
and <code>snapshot</code> operations require Ceph for now. Both driver names are lower-case.

<ul>
<li><a name="crud"></a><a href="#crud"><code>crud</code></a>: Create/Delete operations driver name
</li>
<li><a name="mount"></a><a href="#mount"><code>mount</code></a>: Mount operations driver name
</li>
<li><a name="snapshot"></a><a href="#snapshot"><code>snapshot</code></a>: Snapshot operations
</li>
</ul>
</li>
<li><code>driver</code>: driver-specific options.

<ul>
<li><a name="pool"></a><a href="#pool"><code>pool</code></a>: the ceph pool to use
</li>
</ul>
</li>
<li><code>create</code>: create-time options.

<ul>
<li><a name="size"></a><a href="#size"><code>size</code></a>: the size of the volume
</li>
<li><a name="filesystem"></a><a href="#filesystem"><code>filesystem</code></a>: the filesystem to use, see <code>filesystems</code> above.
</li>
</ul>
</li>
<li><code>runtime</code>: runtime options. These options can be changed and the changes will
be applied to mounted volumes almost immediately.

<ul>
<li><a name="snapshots"></a><a href="#snapshots"><code>snapshots</code></a>: use the snapshots feature
</li>
<li><a name="snapshot"></a><a href="#snapshot"><code>snapshot</code></a>: map of the following parameters:
</li>
<li><a name="frequency"></a><a href="#frequency"><code>frequency</code></a>: the amount of time between taking snapshots.
</li>
<li><a name="keep"></a><a href="#keep"><code>keep</code></a>: the number of snapshots to keep. the oldest ones will be deleted first.
</li>
<li><a name="rate_limit"></a><a href="#rate_limit"><code>rate-limit</code></a>: map of the following rate-limiting parameters:
</li>
<li><a name="write_bps"></a><a href="#write_bps"><code>write-bps</code></a>: Write bytes/s
</li>
<li><a name="read_bps"></a><a href="#read_bps"><code>read-bps</code></a>: Read bytes/s
</li>
</ul>
</li>
</ul>
<p>You supply them with <code>volcli policy upload &lt;policy name&gt;</code>. The JSON itself is
provided via standard input, so for example if your file is <code>policy2.json</code>:</p>
<pre class="highlight plaintext"><code>$ volcli policy upload myTenant &lt; policy2.json
</code></pre>
<p><a name="driver_options">&lt;/&gt;</a></p><a name="driver_options">

<h2>Driver Options</h2>
<p>Driver options are passed at <code>docker volume create</code> time with the <code>--opt</code> flag.
They are <code>key=value</code> pairs. For example:</p>
<pre class="highlight plaintext"><code>docker volume create -d volplugin \
  --name policy2/image \
  --opt size=1000
</code></pre>
<p>The options are as follows:</p>

</a><ul><a name="driver_options">
</a><li><a name="driver_options"></a><a name="size"></a><a href="#size"><code>size</code></a>: The size (in MB) of the volume.
</li>
<li><code>snapshots</code>: Take snapshots or not. Affects future options with <code>snapshot</code> in the key name.

<ul>
<li>The value must satisfy <a href="https://golang.org/pkg/strconv/#ParseBool">this specification</a>
</li>
</ul>
</li>
<li><a name="snapshots_frequency"></a><a href="#snapshots_frequency"><code>snapshots.frequency</code></a>: The frequency which to take snapshots.
</li>
<li><a name="snapshots_keep"></a><a href="#snapshots_keep"><code>snapshots.keep</code></a>: The number of snapshots to keep.
</li>
<li><a name="filesystem"></a><a href="#filesystem"><code>filesystem</code></a>: The named filesystem to create. See the JSON Configuration
section for more information on this.
</li>
<li><a name="rate_limit_read_bps"></a><a href="#rate_limit_read_bps"><code>rate-limit.read.bps</code></a>: Read b/s
</li>
<li><a name="rate_limit_write_bps"></a><a href="#rate_limit_write_bps"><code>rate-limit.write.bps</code></a>: Write b/s
</li>
</ul>

<h2>NFS Support</h2>
<p>NFS support is limited. To use NFS support, do the following:</p>
<p>1. Ensure <code>nfs</code> is the <code>mount</code> backend for your policy, and that <code>crud</code> and <code>snapshot</code> are empty.
2. Create your volume with the remote mount path specified at create time:</p>
<pre class="highlight plaintext"><code>docker volume create -d volplugin --name mypolicy/myvolume --opt mount=127.0.0.1:/mynfsmount
</code></pre>
<p>3. Mount the volume and continue as normal.</p>


			</div>