<div class="bs-docs-section">
				
	<h3>Creating a Container with a Volume</h3>
<p>To create a container with a volume, create a volume that refers to the <code>volplugin</code> driver:</p>
<pre class="highlight plaintext"><code>docker volume create -d volplugin --name policy1/test
</code></pre>
<p>Note the following:</p>
<p>The name of the volume is <code>test</code>. The volumen is located under policy <code>policy1</code>,
 which is uploaded with <code>volcli policy upload</code>.</p>
<p>The volume inherits the properties of the policy: <em>size</em>, <em>iops</em>, and so on.</p>
<p>There are numerous options (see below) to declare overrides of most parameters in the policy configuration.</p>
<p>To run a container that uses the policy, do the following:</p>
<p>1. Run the command:</p>
<pre class="highlight plaintext"><code>docker run -it -v policy1/test:/mnt ubuntu bash
</code></pre>
<p>2. Run <code>mount | grep /mnt</code> in the container.</p>
<p><em>Note</em>: <code>/dev/rbd#</code>should be attached to the <code>mnt</code> directory.</p>
<p>Once a multi-host system is set up, anytime the volume is not mounted, it
can be mounted on any host that has a connected <code>rbd</code> client available and
<code>volplugin</code> running.</p>


			</div>