.u-vmenu{ background:#fff;}
.u-vmenu ul li {
	width: 100%;
	
}
.u-vmenu ul{ padding-left:0}
.u-vmenu ul ul{
	display: none;
}
.u-vmenu > ul > li {

}

.u-vmenu ul li a {
	line-height: 18px;
	padding-top:15px; padding-bottom:15px;
	display: block;
	font-size: 14px;
	color: #517fa4;
	text-decoration: none;
	outline: none;
	
}
img{ max-width:100%; height:auto;}
.u-vmenu > ul > li > a {
	padding-left: 10px;
	background-color:#dff6ff !important;
	color: #517fa4; font-family:"latobold";
	text-transform:uppercase;
	border-bottom:1px solid #ccc;
	font-size:14px;
	
}
.u-vmenu > ul > li > ul > li > a {
	padding-left: 10px;
	background-color: #fff !important;
	border-bottom:1px solid #ccc;
}
.u-vmenu > ul > li > ul > li > ul {
	padding-left: 35px;
}
.u-vmenu > ul > li > ul > li > ul > li > ul {
	padding-left: 25px;
}
.u-vmenu > ul > li > ul > li > ul > li > ul > li > ul  {
	padding-left: 20px;
}
/*.u-vmenu ul li a[data-option='on']{
	background: url(../images/vmenu/on.png) right center no-repeat;
}
.u-vmenu ul li a[data-option='off'] {
	background: url(../images/vmenu/off.png) right center no-repeat;
}*/