<div class="bs-docs-section">
				
	<h1>Getting Started</h1>
<p>Begin using Contiv right away. Separately set up Contiv's networking, storage, 
or clustering tools.</p>

<h2><a href="/documents/gettingStarted/networking">Networking</a></h2>
<p>Set up a development environment or a cluster of servers using different clustering systems.</p>

<h2><a href="/documents/gettingStarted/storage/storage.html">Storage</a></h2>
<p>Get started with Contiv Storage.</p>

<h2><a href="/documents/gettingStarted/cluster">Cluster</a></h2>
<p>Try out contiv cluster in Vagrant environment.</p>


			</div>