<div class="bs-docs-section">
				
	<h1>Getting Started with Contiv Network</h1>
<p>There are several ways to try out Contiv Network. All of these ways fall into two categories:</p>

<ul>
<li><a href="#UsingVagrant">Use our Vagrant scripts to set up a small-scale virtual environment on an single machine.</a>
</li>
<li><a href="#WithNetworkedServers">Install Contiv Network on two or more bare-metal or virtual servers.</a>
</li>
</ul>
<p><a name="UsingVagrant"></a></p><a name="UsingVagrant">

<h2>On a Single Machine</h2>
<p>You can use our Vagrant script to get up and running fast on a single Linux or OS X machine.
Vagrant is a utility for quickly and consistently setting up virtual machines (VMs).</p>

</a><ul><a name="UsingVagrant">
</a><li><a name="UsingVagrant"></a><a href="/documents/gettingStarted/networking/swarm.html">Try out Contiv Network with Docker Swarm</a>.
</li>
<li><a href="/documents/gettingStarted/networking/k8s.html">Try out Contiv Network with Kubernetes</a>.
</li>
<li><a href="/documents/gettingStarted/networking/mesos.html">Try out Contiv Network with Mesos</a>.
</li>
<li><a href="/documents/gettingStarted/networking/nomad.html">Try out Contiv Network with Nomad</a>.
</li>
</ul>
<p><a name="WithNetworkedServers"></a></p><a name="WithNetworkedServers">

<h2>On Multiple Servers</h2>
<p>You can install Contiv on two or more baremetal nodes or VMs.</p>

</a><ul><a name="WithNetworkedServers">
</a><li><a name="WithNetworkedServers"></a><a href="/documents/gettingStarted/networking/install-swarm.html">Install Contiv Network with Docker Swarm</a>.
</li>
<li><a href="/documents/gettingStarted/networking/install-k8s.html">Install Contiv Network with Kubernetes</a>.
</li>
<li><a href="/documents/gettingStarted/networking/bgp.html">Install Contiv Network in L3 BGP mode</a>.
</li>
<li><a href="/documents/gettingStarted/networking/aci.html">Install Contiv Network with Cisco ACI</a>*.
</li>
</ul>
<p>*For more information about using Contiv Network with Cisco Application Centric Infrastructure (ACI),
contact Cisco Systems.</p>


			</div>