<div class="bs-docs-section">
				
	<h1>Contiv Networking</h1>
<p>Contiv Networking supports both major networking models:</p>

<ul>
<li>The libnetwork CNM model 
</li>
<li>The CoreOS CNI model
</li>
</ul>
<p>Thus, Contiv Network provides a pluggable networking alternative to built-in Docker, Kubernetes,
Mesos, and Nomad ecosystems.</p>
<p>To learn about container networking basics, including descriptions of both models, 
read our self-guided hands-on <a href="/documents/tutorials/container-101.html">Tutorial</a>.</p>

<h2>Learning Resources</h2>
<p>Other learning resources on this site, designed to help you get up to speed on Contiv and container networkinginclude:</p>

<ul>
<li><a href="/documents/networking/features.html">Contiv Features</a>
</li>
<li><a href="/documents/networking/concepts.html">Concepts and Terminology</a>
</li>
<li><a href="/documents/networking/policies.html">Policies</a>
</li>
<li><a href="/documents/networking/services.html">Service Routing</a>
</li>
<li><p><a href="/documents/networking/physical-networks.html">Physical networks</a></p>

<ul>
<li><a href="/documents/networking/bgp.html">L3 routed networks</a>
</li>
<li><a href="/documents/networking/l2-vlan.html">L2 bridged networks</a>
</li>
<li><a href="/documents/networking/l2-vlan.html">Cisco ACI</a>
</li>
</ul>
</li>
<li><p><a href="/documents/networking/ipam.html">IPAM and Service Discovery</a></p>
</li>
<li><p><a href="/documents/networking/ipv6.html">IPv6</a></p>
</li>
</ul>

<h2>Supported Modes</h2>
<p>Contiv supports the networking modes and schedulers shown in the table below. To learn about and try the various combinations, see the Contiv Network <a href="/documents/gettingStarted/networking/">Getting Started</a> page.</p>

<table><thead>
<tr>
<th>Fabric</th>
<th>Kubernetes</th>
<th>Docker Swarm</th>
<th>Mesos</th>
<th>Nomad</th>
</tr>
</thead><tbody>
<tr>
<td><strong>Layer 2</strong></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
</tr>
<tr>
<td><strong>Layer 3</strong></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
</tr>
<tr>
<td><strong>Overlay (cloud)</strong></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
</tr>
<tr>
<td><strong>ACI</strong></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
<td><i class="fa fa-check fa-2x"></i></td>
</tr>
</tbody></table>
<p>Please <a href="https://github.com/contiv/netplugin/issues">submit an issue</a> if you
would like to suggest a feature or enhancement to be addressed by Contiv developers and contributors.</p>


			</div>