<div class="bs-docs-section">
				
	<h1>Contiv Storage</h1>
<p>The Contiv Storage plugin <a href="https://github.com/contiv/volplugin" title="Title">volplugin</a>
is a volume driver and policy system that supports multiple storage platforms,
working well within the Docker ecosystem. It can automatically move your
storage with your containers, rather than pinning containers to specific hosts
to take advantage of their storage.</p>

<h2>Table of Contents</h2>

<ul>
<li><a href="/documents/storage/architecture.html">Architecture</a>
</li>
<li><a href="/documents/storage/configuration.html">Configuration</a>
</li>
<li><a href="/documents/storage/containers.html">Creating a container with a volume</a>
</li>
<li><a href="/documents/storage/volcli.html">Volcli Reference</a>
</li>
</ul>


			</div>