<div class="bs-docs-section">
				
	<h1>Concepts and Terminology</h1>
<p>Using container networking with Contiv is as easy as creating networks
and assigning containers to the networks. Contiv's real power, however, is the ability to 
apply policies that govern the security, bandwidth, priority, and other parameters for container
applications. Following are some concepts and terminoilogy required to understand
Contiv's policy framework.</p>

<h2>Groups</h2>
<p>A <em>group</em> (or an <em>application group</em>) identifies a policy domain for a <em>container</em>
or a <em>pod</em>.  The grouping is an arbitrary
collection of containers that share a specific application domain, for example
all <em>production,frontend</em> containers, or <em>backup,long-running</em> containers.
This association is often done by specifying <code>label</code> in <code>kubernetes pod spec</code></p>
<p>Most notably, an application group or tier in Contiv has no one-to-one mapping
to a network or an IP subnet of a network. This encourages you to group
applications based on their roles and functions, and enables you to have many such application
groups belong to one network or an IP subnet.</p>

<h2>Policies</h2>
<p>A <em>policy</em> describes an operational behavior on a <em>group</em> of containers. The operational
behavior can be enforcement, allocation, prioritation, traffic redirection,
stats collection, or other action on the group on which the policy is applied. For
example, an inbound security policy on a database tier can specify the allowed ports
on the containers belonging to the group.</p>
<p>A group can be associated with more than one policy. In such cases all policies are
applied to a container belonging to the group. For example, a bandwidth policy
could specify a limit on bandwidth consumption, while a security policy specifies
from which addresses the container can be accessed. When a container is scheduled
in this group, both policies are applied to it.</p>
<p>Policies follows the container independent of where it gets scheduled. Therefore, policy
is specified for a given cluster, but enforcement done on the host where container is
scheduled.</p>

<h2>Network</h2>
<p><em>Network</em> is an IPv4 or IPv6 subnet that may be provided with a default gateway. For
example, a network can map to a subnet <code>10.1.1.0/24</code> that has a default gateway
of <code>10.1.1.1</code>.</p>
<p>Application developers usually don't care which network an application belongs to.
The network association of an application becomes relevant when the application
must be exposed to an external network, possibly allowing non-container workloads
or clients to communicate with it.</p>
<p><em>Note</em>: The following two paragraphs are intended for more advanced network users.</p>
<p>Contiv allows you to define two types of networks: An <em>application network</em> and
an <em>infrastructure network</em>. An application network is used by container workloads,
whereas the purpose of an <em>infrastructure network</em> is to create a virtual network
in the host namespace. For example, infrastructure networkws are used by the virtual 
layer of host-resident infrastructure services such as monitoring, storage, or cluster stores.</p>
<p>Network encapsulation <em>type</em> determines if a network is a <em>routed</em> network or a <em>bridged</em>
network. A routed network is useful in <em>overlay</em> topology and <em>L3-routed BGP</em> topology,
while a <em>bridged</em> network is useful in connecting to a <em>layer2 VLAN</em> network.</p>

<h2>Tenant</h2>
<p><em>Tenants</em> provides namespace isolation for networks. A tenant can have many <em>networks</em>,
each with its own subnet address, among other information. A user can create
networks with arbtrary subnet addresses within a tenant namespace, possibly reusing
subnet IP addresses in other tenants. This provides complete freedom to a tenant
user to specify the network names and their subnets within a tenant.</p>
<p><em>Note</em>: The following two paragraphs are intended for more advanced network users.</p>
<p>A <em>tenant</em> in the physical network is called virtual routing and forwarding (VRF).
Depending on the mode of external connectivity (layer2, layer3, or
Cisco ACI), the Contiv forwarding layer communicates the <em>tenant</em> to the external network
using a <em>VLAN</em> or <em>VXLAN</em> ID. The Contiv routing plane (like BGP) is
used to communicate the VRF-ID to rest of the network. See the documentation
on layer3 BGP network configuraiton to learn more about configuration and usage.</p>
<p>Note that for <em>overlay</em> networks, the need to communicate the tenant to the external network
is not applicable.</p>


			</div>