<div class="bs-docs-section">
				
	<h1>Contiv Features</h1>
<p>Contiv Networking supports the following features:</p>

<ul>
<li>A feature-rich policy model to provide secure, predictable application deployment
</li>
<li>Best-in-class throughput for container workloads
</li>
<li>Multi-tenancy, isolation, and overlapping subnets
</li>
<li>Integrated IPAM and service discovery
</li>
<li>A variety of physical topologies:

<ul>
<li>Layer2 (VLAN)
</li>
<li>Layer3 (BGP)
</li>
<li>Overlay (VXLAN)
</li>
<li>Cisco SDN Solution (ACI)
</li>
</ul>
</li>
<li>IPv6 Support
</li>
<li>Scalable policy and route distribution
</li>
<li>Integration with application blueprints, including:

<ul>
<li>Docker Compose
</li>
<li>Kubernetes deployment manager
</li>
</ul>
</li>
<li>Service Load Balancing: built in east-west microservice load balancing
</li>
<li>Traffic isolation for storage, control (for example, etcd/consul), network, and management traffic
</li>
</ul>
<p>To learn about container networking basics, read our self-guided hands-on
<a href="/documents/tutorials/container-101.html">Tutorial</a>. The tutorial discusses
libnetwork's CNM and CoreOS's CNI model. Contiv supports both networking models,
and therefore supports a pluggable networking alternative to built-in Docker, Kubernetes,
Mesos, and Nomad ecosystems.</p>


			</div>