<div class="bs-docs-section">
				
	<h1>ONUG selects Contiv as the Best Software-Managed Infrastructure Innovation</h1>
    <p><em> By Balaji Sivasubramanian On May 2016 </em></p>
<p>We are excited to annouce that last week Open Networking User Group (ONUG) selected Project Contiv as the Best Software-Managed Infrastructure Innovation. ONUG also declared Vipin Jain, lead of Project Contiv as the winner of its Grand Challenge Hackathon.</p>

<p>For more information about this award, visit ONUG at <a href="http://opennetworkingusergroup.com/onug-announces-winner-of-grand-challenge-hackathon/" target="_blank">http://opennetworkingusergroup.com/onug-announces-winner-of-grand-challenge-hackathon/</a></p>

<p>We are honored to receive this award from such a prestigious user group.The ONUG Board is composed of IT leaders from Bank of America, BNY Mellon, Cigna, Citigroup, Credit Suisse, FedEx, Fidelity Investments, Gap Inc., GE, Intuit, JPMorgan Chase, the Lippis Report, Morgan Stanley, Pfizer, UBS, and Yahoo.</p>

<p>For more on ONUG, go to <a href="http://opennetworkingusergroup.com" target="_blank">http://opennetworkingusergroup.com</a></p>

			</div>