<div class="container">

<div class="col-sm-4 col-md-3 mainLeft" style="padding-left:0;">
<div class="leftCont" style="position:fixed; width:inherit; ">
<div class=" scrollbar-dynamic" style="max-height:400px; overflow:auto;" data-jquery-scrollbar>

<div class="u-vmenu articleNav" vmenu-module>
				<ul>
					<li ui-sref-active="active">
						<a ui-sref="articles.child({child: 'gettingStarted'})">Articles</a>
                            <ul>
                                <li ui-sref-active="active">
                                    <a ui-sref="articles.child({child: 'dockercon-talk'})">Dockercon'16 - Enabling Container Applications in Production - Now Online</a>
                                    
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="articles.child({child: 'onug-contiv-award'})">ONUG selects Contiv as Best Software-Managed Infrastructure Innovation</a>
                                    
                                </li>
                                <li ui-sref-active="active">
                                    <a ui-sref="articles.child({child: 'scaling-microservices'})">Scaling Microservices with Contiv</a>
                                    
                                </li>
                            </ul>
					</li>
                    
					
					
					
				</ul>
			</div></div>
</div>

</div>
<div class="col-sm-8 col-md-9">

        <div ui-view="articlesContent">
        <div class="bs-docs-section">
				<div class="blog-author">  </div>
				<div class="blog-date">  </div>
				  <article>

    <h2>Dockercon'16 - Enabling Container Applications in Production - Now Online</h2>
<p>4000 attendees at Dockercon last month was a great proof that more and more customers are considering containers and microservices architecture for future cloud native applications...</p>

    <a ui-sref="articles.child({child: 'dockercon-talk'})">Read more</a>
  </article>
  <article>

    <h2>ONUG selects Contiv as the Best Software-Managed Infrastructure Innovation</h2>
<p>We are excited to annouce that last week Open Networking User Group (ONUG) selected Project Contiv as the Best Software-Managed Infrastructure Innovation. ONUG also declared...</p>

    <a ui-sref="articles.child({child: 'onug-contiv-award'})">Read more</a>
  </article>
  <article>

    <h2>Scaling Microservices with Contiv</h2>
<p>Enterprises are moving their applications from monolithic architectures to Microservices architectures. When they are thinking about Microservices, they are also considering containerizing their applications. In this...</p>

    <a ui-sref="articles.child({child: 'scaling-microservices'})">Read more</a>
  </article>

			</div>
        </div>
<!--ng-click="gotoAnchor(x)"-->

</div>


</div>